<%- include("partials/adminTop") %>
    <%- include("partials/adminSideBar") %>

        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Admin: <%= activeUser.firstName + " " + activeUser.lastName %>
                        </h4>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Sales Cards  -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-cyan text-center">
                                <h1 class="font-light text-white"><i class="mdi mdi-view-dashboard"></i></h1>
                                <h6 class="text-white">Dashboard</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-4 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-success text-center">
                                <h1 class="font-light text-white"><i class="mdi mdi-chart-areaspline"></i></h1>
                                <h6 class="text-white">Charts</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-warning text-center">
                                <h1 class="font-light text-white"><i class="mdi mdi-collage"></i></h1>
                                <h6 class="text-white">Widgets</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-danger text-center">
                                <h1 class="font-light text-white"><i class="mdi mdi-border-outside"></i></h1>
                                <h6 class="text-white">Tables</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-2 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-info text-center">
                                <h1 class="font-light text-white"><i class="mdi mdi-arrow-all"></i></h1>
                                <h6 class="text-white">Full Width</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->

                </div>
                <!-- ============================================================== -->
                <!-- Sales chart -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- Sales chart -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- Recent comment and chats -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Operateri</h4>
                            </div>
                            <div class="comment-widgets scrollable">
                                <!-- Comment Row -->
                                <% operateri.forEach((el)=>{ %>
                                    <div class="d-flex flex-row comment-row m-t-0">
                                        <div class="comment-text w-100">
                                            <h6 class="font-medium">
                                                <%= el.firstName + " " + el.lastName %>
                                            </h6>
                                            <div class="comment-footer">
                                                <span class="text-muted float-right">April 14, 2016</span>
                                                <a href="/admin/showTerms/<%= el._id %>"
                                                    class="btn btn-cyan btn-sm">Termini</a>

                                                <button type="button" class="btn btn-success btn-sm">Publish</button>
                                                <button type="button" class="btn btn-danger btn-sm
                                        deleteUserBtn" data-id="<%= el._id %>">Delete
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                            </div>
                        </div>


                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Proizvodi</h4>
                            </div>
                            <div class="comment-widgets scrollable">
                                <% proizvodi.forEach((el)=>{ %>
                                    <div class="d-flex flex-row comment-row m-t-0">
                                        <div class="comment-text w-100">
                                            <h6 class="font-medium">
                                                <%= el.productName %>
                                            </h6>
                                            <div class="comment-footer">
                                                <span class="text-muted float-right">April 14, 2016</span>
                                                <button type="button" class="btn btn-cyan btn-sm">Edit</button>
                                                <button type="button" class="btn btn-success btn-sm">Publish</button>
                                                <button type="button" class="btn btn-danger btn-sm
                                        deleteProductBtn" data-id="<%= el._id %>">Delete
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <% }) %>
                            </div>
                        </div>
                    </div>
                    <!-- column -->


                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Savetnici</h4>
                            </div>
                            <div class="comment-widgets scrollable">
                                <% savetnici.forEach((el)=>{ %>
                                    <div class="d-flex flex-row comment-row m-t-0">
                                        <div class="comment-text w-100">
                                            <h6 class="font-medium">
                                                <%= el.firstName + " " + el.lastName %>
                                            </h6>
                                            <div class="comment-footer">
                                                <span class="text-muted float-right">April 14, 2016</span>
                                                <a href="/admin/showTerms/<%= el._id %>"
                                                    class="btn btn-cyan btn-sm">Termini</a>
                                                <button type="button" class="btn btn-success btn-sm">Publish</button>
                                                <button type="button" class="btn btn-danger btn-sm
                                                    deleteUserBtn" data-id="<%= el._id %>">Delete
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Gradovi</h4>
                            </div>
                            <div class="comment-widgets scrollable">
                                <% gradovi.forEach((el)=>{ %>
                                    <div class="d-flex flex-row comment-row m-t-0">
                                        <div class="comment-text w-100">
                                            <h6 class="font-medium">
                                                <%= el.cityName + " " + el.zip %>
                                            </h6>
                                            <div class="comment-footer">
                                                <span class="text-muted float-right">April 14, 2016</span>
                                                <button type="button" class="btn btn-cyan btn-sm">Edit</button>
                                                <button type="button" class="btn btn-success btn-sm">Publish</button>
                                                <button type="button" class="btn btn-danger btn-sm
                                        deleteCityBtn" data-id="<%= el._id %>">Delete
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Recent comment and chats -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                All Rights Reserved by Matrix-admin. Designed and Developed by <a
                    href="https://wrappixel.com">WrapPixel</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Wrapper -->
        <!-- ============================================================== -->
        <%- include("partials/adminBottom") %>